<div class="row">
  <div class="col-md-6 col-xs-12">
      <div class="x_panel">
          <h2>Manage {{ submenu|title }}</h2>
      </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="x_panel">
      <div class="pull-right">
      <button class="btn btn-success" [disabled]="loading" type="button" [routerLink]="'/{{menu}}/{{submenu}}/add'"><i class="fa fa-user-plus"></i> Add</button>
      <button class="btn btn-info" type="button"> Publish</button>
      <button class="btn btn-warning" type="button"> Unpublish</button>
      <button class="btn btn-danger" type="button"><i class="fa fa-trash"></i> Trash</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{ submenu|title }}</h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <img *ngIf="loading" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" width="50">        
        <table class="table table-striped table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>id</th>                  
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let {{extra}} of {{extra}}s">
              <td> {{ '{{' }} {{extra}}.id {{ '}}' }}</td>                  
              <td> 
                <a [routerLink]="['/{{menu}}/{{submenu}}/view/', {{extra}}.id]" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>                    
                <a [routerLink]="['/{{menu}}/{{submenu}}/edit/', {{extra}}.id]" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
         
      </div>
    </div>
  </div>
</div>