<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="x_panel">
      <h2>{{ submenu|title }} Details</h2>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="x_panel">
      <div class="pull-right">
        <a class="btn btn-primary" [routerLink]="'/{{menu}}/{{submenu}}/'"><i class="fa fa-users"></i> {{ submenu|title }}</a>
        <a class="btn btn-success" [routerLink]="'/{{menu}}/{{submenu}}/add'"><i class="fa fa-user-plus"></i> Add New {{ extra|title }}</a>
      </div>
    </div>
  </div>
</div>

<div class="row">  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div *ngIf="loading==false" class="x_panel">
      <div class="x_title">
        <h2>todo Details</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 profile_details">
            <div class="well profile_view">
              <div class="col-sm-12">
                <h4 class="brief"><i>todo</i></h4>
                <div class="left col-xs-7">
                  <h2>todo</h2>                  
                  <ul class="list-unstyled">
                    <li><i class="fa fa-envelope"></i> Email: todo </li>
                    <li><i class="fa fa-id-badge"></i> User Id #: todo </li>
                  </ul>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

